body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.img0 {

}
.img1 {
    position: center;
}

.img2 {
    position: center;
}

.footer {
    font-size: 8pt;
}

p {
    line-height: 0px;
}

.copyright {
    font-size: 5pt
}
